.leaflet-bar {
    border-radius: 0;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.leaflet-bar a:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.leaflet-bar a, .leaflet-bar a:hover {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #777;
}


.geocoder-control {
  width: 38px;
  margin-bottom: 35px !important;
}
.geocoder-control-expanded {
  width: 275px;
}
.geocoder-control-input {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff !important;
  color: #f5646a !important;
  font-family: "Avenir LT W01 35 Light", "Century Gothic", "Meiryo", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
