.esri-leaflet-webmap-labels {
    font-weight: bold;
    font-family: "Avenir LT W01 35 Light", "Century Gothic", "Meiryo", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}
.esri-leaflet-webmap-labels div {
    font-size: 0.8em;
    animation: label-fade 2s 1;
    -webkit-animation: label-fade 2s 1;
    position: relative;
    left: -50%;
    text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff;
}
@keyframes label-fade {
    0% {
    opacity: 0;
    }
    30% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@-webkit-keyframes label-fade {
    0% {
    opacity: 0;
    }
    30% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}