.modal-title {
    font-family: "Avenir LT W01 35 Light", "Century Gothic", "Meiryo", Helvetica, Arial, sans-serif;
}

#select-fin-btn {
    border-color: #f99498;
    background-color: #faacaf;
}

#select-fin-btn:hover {
    border-color: #f5646a;
    background-color: #f5646a;
}

#target-area-name {
    display: none;
    background: #f5646a;
    color: #fff;
    font-size: 0.6em;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

#area-map {
    height: 300px;
    /*background: #fef8f4;*/
    background: url("images/bg.png") repeat;
}

div.modal-body > div > div > div > svg > g > path:hover {
    stroke: #f5646a;
    stroke-width: 5;
    fill: #f5646a;
}

.selected-area {
    stroke: #f5646a;
    stroke-width: 5;
    fill: #f5646a;
}
