.leaflet-bar {
    border-radius: 0;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.leaflet-bar a:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.leaflet-bar a, .leaflet-bar a:hover {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #777;
    background-color: #333;
    border-bottom: 1px solid #777;
}
